<form (submit)="guardarCambios()" [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput  [formControl]="this.form.controls.titulo">
        <mat-error>{{obtenerErrorCampoTitulo()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha Lanzamiento</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="this.form.controls.fechaLanzamiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{obtenerErrorCampoFechaLanzamiento()}}</mat-error>
    </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tráiler</mat-label>
        <input matInput  [formControl]="this.form.controls.trailer">
    </mat-form-field>

      <div>
        <app-input-img 
        [urlImagenActual]="modelo?.poster"
        titulo="Foto del Actor" (archivoSeleccionado)="archivoSeleccionado($event)"  ></app-input-img>
     </div>

    <div class="contenedor-botones">
        <button mat-flat-button type="submit" [disabled]="form.invalid" >Guardar Cambios</button>
        <a mat-stroked-button routerLink="/">Cancelar</a>        
    </div>


</form>